extends ../layouts/main

block content
    section
        .wrapper
            h1
                a(href="https://github.com/antonsmolko/apple-albums-js") Apple Albums
            .albums
                .albums-side.albums-left
                .albums-side.albums-right