// $artworkSize: 76px;
// $albumSizeWidth: 11;
// $albumSizeHeight: 7;
// $artworkGutter: 6px;

// $sizesCount: 2;

// $spriteHorizontalCount: 17;
// $spriteVerticalCount: 14;

$artworkSize: 51px;
$artworkSize-l: 76px;
$albumSizeWidth: 11;
$albumSizeHeight: 7;
$artworkGutter: 4px;
$artworkGutter-l: 6px;

$sizesCount: 2;

$spriteHorizontalCount: 17;
$spriteVerticalCount: 14;

$sprite-path-2x: url('../img/music_sprite_large.jpg');
$sprite-path: url('../img/music_sprite_medium.jpg');

// Brakepoints
$se: '340px';
$xs: '560px';
$s: '640px';
$hm: '768px';
$m: '960px';
$l: '1200px';
$l: '1200px';
$hxl: '1400px';
$xl: '1600px';
$xxl: '1800px';
$qhd: '1921px';