html {
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-align: center;
}

html, body {
    overflow: hidden;
}

h1 {
    margin-bottom: 70px;
}

main, section {
    width: 100%;
}
